<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Categories</h1>
    <a href="{{url_for('home')}}">Home</a><br>
    <a href="{{url_for('new_category')}}">New category</a>
    <table>
        <hr>
        <td>ID</td><td>NAME</td><td>TYPE</td><td>&nbsp;</td><td>&nbsp;</td>
        </hr>        
        {% for category in categories %}
        <tr>
            <td><p>{{ category.id }}</p></td>
            <td><p>{{ category.name }}</p></td>
            <td><p>{{ category.type }}</p></td>
            <td><a href="{{url_for('update_category', id=category.id)}}">Update</a></td>
            <td><a href="{{url_for('delete_category', id=category.id)}}">Delete</a></td>
        </tr>
        {% endfor %}        
    </table>
</body>
</html>