<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New person</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>New person</h1>
    <a href="{{url_for('home')}}">Back to home</a>
    <hr>
    <form method="POST">
        <label for="name">Person name</label><br>
        <input type="text" name="name" id="name"><br>        
        <button type="submit">Add</button>
    </form>    
</body>
</html>